@font-face {
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype') ;
}

@font-face {
  font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype') ;
}

@font-face {
  font-family: 'gg sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/gg sans Regular.woff') format('woff') ;
}

@font-face {
  font-family: 'gg sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/gg sans Medium.woff') format('woff') ;
}

@font-face {
  font-family: 'gg sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/gg sans Semibold.woff') format('woff') ;
}

@font-face {
  font-family: 'gg sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/gg sans Bold.woff') format('woff') ;
}