.user-panel {
  @include flex-row();
  background: $bg-quaternary;
  height: 52px;
  padding: 0 8px;
}

.user-box {
  @include flex-row();
  flex: 1 1 auto;
  cursor: pointer;
  align-items: center;
  margin: 4px 14px 4px 0;
  padding-left: 4px;
  border-radius: 4px;
    &:hover {
        background: $bg-primary-selected;

      .user-box-info-dynamic-item {
        transform: translateY(-16px);
      }
    }
}

.user-avatar {
  position: relative;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .user-avatar-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 2px solid $bg-quaternary;
    position: absolute;
    bottom: 0;
    right: 0;

    &.online-status {
      background: $success;
    }
    &.offline-status {
      opacity: 0;
    }
  }
}

.user-box-info {
  @include flex-column();
  padding: 4px 0 4px 8px;
}

.user-box-info-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $text-light;
}

.user-box-info-dynamic {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  height: 16px;
  color: $text-quaternary;
  overflow: hidden;
}

.user-box-info-dynamic-item {
  transition: transform 0.2s ease-in-out;
}

.user-toolbar {
  @include flex-row();
  flex-wrap: wrap;
  align-content: center;
}

.user-toolbar-item {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
    &:hover {
        background: $bg-primary-selected;
    }
}